.page__footer {
  background-color: clr(blackBgd);
  padding-top: 66px;
  padding-bottom: 70px;
  text-align: center;

  @media (max-width: 480px) {
    padding-top: 38px;
    padding-bottom: 47px;
  }
}

.footer-container {
  width: 684px;

  @media (max-width: 684px) {
    width: 100%;
  }
  @media (max-width: 480px) {
    width: 303px;
  }
}

.page-footer__title {
  @include section-title();
  color: clr(footerTitleText);

  @media (max-width: 480px) {
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.page-footer__text {
  margin-top: 0;
  margin-bottom: 37px;
  color: clr(footerText);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  &--out480 {
    @media (max-width: 480px) {
      display: none;
    }
  }

  @media (max-width: 480px) {
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 20px;
  }
}

.page-footer__social-icons {
  // @include list-reset();
  // display: flex;
  // justify-content: center;
  // gap: 5px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__contacts {
  margin-top: 34px;
  margin-bottom: 0;
  color: clr(footerText);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    font-size: 14px;
    line-height: 24px;
  }
}
