.page__header {
  margin-top: 29px;
  margin-bottom: 34px;

  @media (max-width: 992px) {
    margin-top: 23px;
    margin-bottom: 28px;
  }
  @media (max-width: 768px) {
    margin-bottom: 23px;
  }
}

.page-header__nav {
  padding-top: 16px;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: end;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-header__bars {
  padding: 13px 13px;
  background-color: clr(blackBgd);
  cursor: pointer;
  display: none;

  @media (max-width: 768px) {
    display: block;
    position: relative;
  }
}

.page-header__menu {
  @include list-reset();
  display: flex;
  gap: 68px;
  justify-content: space-between;

  @media (max-width: 992px) {
    gap: 34px;
  }
  @media (max-width: 768px) {
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    gap: 0;
    background-color: #f5f5f5;

    display: none;
  }
}

.page-header__menu.menu-visible {
  display: flex;
}

.main-menu__item {
  @media (max-width: 768px) {
    padding: 4px 85px 4px 12px;
  }
  &:hover {
    @media (max-width: 768px) {
      background-color: #e5e5e5;
    }
  }
}

.main-menu__link {
  color: clr(mainText);
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;

  &--current {
    color: clr(accentText);
  }
}
