.main__instagram {
  padding-top: 47px;
  padding-bottom: 49px;
  background-color: clr(InstBgd);

  @media (max-width: 480px) {
    padding-top: 38px;
    padding-bottom: 42px;
    background-color: clr(pageBgd);
  }
}

.instagram__header {
  display: flex;
  justify-content: space-between;
}

.instagram__title {
  @include section-title();

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.instagram__link {
  @include section-title();
  font-size: 13px;

  @media (max-width: 768px) {
    display: none;
  }
}

.instagram__list {
  @include list-reset();
  display: flex;
  gap: 10px;
}

.insta-list__item {
  &:last-child {
    @media (max-width: 876px) {
      display: none;
    }
  }
  &:nth-child(3) {
    @media (max-width: 581px) {
      display: none;
    }
  }
  &:nth-child(2) {
    @media (max-width: 481px) {
      display: none;
    }
  }
  &:first-child {
    @media (max-width: 481px) {
      width: 301px;
    }
  }
}

.insta-list__img {
  width: 100%;
  height: auto;
}
