@mixin list-reset($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding-left: 0;
  margin: $top $right $bottom $left;
  list-style-type: none;
}

@mixin section-title() {
  margin-top: 0;
  margin-bottom: 24px;
  color: clr(mainText);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
