.main__posts {
  margin-top: 69px;
  margin-bottom: 69px;

  @media (max-width: 992px) {
    margin-top: 59px;
    margin-bottom: 59px;
  }
  @media (max-width: 480px) {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}

.posts__title {
  @include section-title();

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.post__list {
  @include list-reset();
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  column-gap: 55px;
  row-gap: 32px;

  @media (max-width: 992px) {
    grid-template-columns: minmax(auto, 555px);
  }

  @media (max-width: 480px) {
    row-gap: 28px;
  }
}

.post__item {
  display: flex;
  gap: 20px;

  &:last-child {
    @media (max-width: 480px) {
      display: none;
    }
  }

  @media (max-width: 480px) {
    display: block;
  }
}

.post-item__title {
  margin-top: 0;
  margin-bottom: 0;
  color: clr(mainText);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;

  @media (max-width: 480px) {
    margin-top: 11px;
  }
}

.post-item__header {
  margin-top: 0;
  margin-bottom: 13px;
  color: clr(anotherText);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;

  @media (max-width: 480px) {
    margin-bottom: 0px;
  }
}

.post-item__text {
  color: clr(simpleText);
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  @media (max-width: 480px) {
    display: none;
  }
}
